body {
   background-color: black;
}

.animated-circle {
   background: linear-gradient(270deg, white, gray);
   background-size: 400% 400%;
   animation: AnimationName 6s ease infinite;
}

.animated-circle:hover {
   background-color: green;
}

@keyframes AnimationName {
   0%{background-position:0% 50%}
   50%{background-position:100% 50%}
   100%{background-position:0% 50%}
}

.hover-animate-green {
   transition: background-color 0.5s ease;
}